<app-navbar></app-navbar>

<h1>HomePage</h1>

<button (click)="onButtonClick()">Click To Change Content</button>

<div *ngIf="pressed === true; else elseBlock">
  <h3>
    You Clicked the Button. Click the button again to do something different
  </h3>
</div>
<ng-template #elseBlock>
  <div>
    <form>
      <input type="text" placeholder="Enter Anything" />
      <button type="submit" (click)="onSubmitClick()">Submit</button>
    </form>
  </div>
</ng-template>
<div *ngIf="submitted">
  <h4>Submit Clicked!!!!!!</h4>
</div>
